@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&family=DM+Mono:wght@300;400;500&display=swap");

body {
  margin: 0;
  padding: 0;
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424; /* #FFFFFF default */
  width: 100%;
  height: auto;
  display: flex;
}

h2 {
  font-family: "DM Mono", sans-serif;
  font-weight: 500;
  color: rgb(255, 255, 255, 0.9);
}

p {
  font-family: "DM Sans", sans-serif;
  font-weight: 300;
  font-size: 18px;
  color: rgb(255, 255, 255, 0.7);
}

/* Header component */
header {
  position: relative;
  display: flex;
  flex-direction: column;
  background-image: url("../assets/house1.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: 697px;
  margin: 0 auto;
}

header nav {
  position: relative;
  width: 100%;
  z-index: 10;
}

.navItems {
  display: flex;
  width: 95%;
  justify-content: space-between;
  padding: 2%;
}

.image-container-header {
  width: 100%;
  height: auto;
  position: relative;
  z-index: -1000;
}

.image-content-header {
  position: absolute;
  top: 35%;
  left: 60%;
  color: white;
  z-index: 1;
  color: #ffffff;
}

.hero-container {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex: 1;
  padding: 0 5%;
}

#header-title {
  font-size: 34px;
}

#burgerMenu {
  min-width: 30px;
  max-height: 25px;
}

/* Main section */

.section1-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  align-items: center;
  padding: 2rem 0;
  background-color: #2b2b2b;
}

.article1-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 70%;
  max-width: 1200px;
}

#article-title {
  width: 100%;
  height: auto;
  margin-bottom: 0.1%;
  font-size: 34px;
}

.aside-container-separate {
  display: flex;
  gap: 5%;
}

.aside-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
}

.aside-container p {
  text-align: justify;
}

/* Image container */

.section-container-images {
  display: flex;
  width: 100%;
  height: auto;
}

.image-container {
  position: relative;
  width: 100%;
  height: 400px;
}

.image-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.image-content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: start;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  z-index: 1;
}

/* Footer component */
footer {
  background-color: #101010;
  font-family: "DM Sans", sans-serif;
  width: 100%;
  height: auto;
}

.footerItems {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 4rem;
  padding: 4rem;
}

.footerList {
  justify-self: start;
}

.footerArticle {
  justify-self: end;
}

/* Buttons */

button {
  display: flex;
  flex-direction: row;
  font-family: "DM Sans", sans-serif;
  width: 100px;
  height: 40px;
  align-items: center;
  border-color: rgba(0, 0, 0, 0);
  clip-path: polygon(0 0, 100% 0, 100% 75%, 90% 100%, 0 100%, 0 0%);
  transition: background-color 0.3s ease;
  justify-content: center;
  border-radius: 5%;
}

.blackButton {
  background-color: #1e1e1e;
  color: #ffffff;
}

.whiteButton {
  background-color: #ffffff;
  color: #1e1e1e;
}

.blackButton:hover {
  background-color: #ffffff;
  color: #1e1e1e;
}

.whiteButton:hover {
  background-color: #2b2b2b;
  color: #ffffff;
}
